/* CONTACT FOOTER  */

.contact-footer {
  width: 100%;
  height:20px;
  padding: 40px 0;
  background: #121212;
  border-top: 1px solid #eee;
}

.contact-footer-inner {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.contact-footer-inner p {
  font-size: 14px;
  color: #f0ecec;
  letter-spacing: 0.3px;
}
