/* 
   CONTACT PAGE 
*/

.contact-section {
  padding: 100px 0;
  background: #fff;
}

/* container safe */
.contact-section .container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.contact-section .contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-section .contact-header h2 {
  font-size: 48px;
  font-weight: 700;
  color: #111;
}

.contact-section .count {
  font-size: 18px;
  color: #ff4d00;
  font-weight: 500;
}

/* LINE */
.contact-section hr {
  margin: 25px 0 70px;
  border: none;
  border-top: 1px solid #111;
}

/* CONTENT */
.contact-section .contact-content {
  display: flex;
  gap: 80px;
}

/*FORM */

.contact-section .contact-form {
  flex: 2;
}

.contact-section .contact-row {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.contact-section .field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-section .field.full {
  margin-bottom: 50px;
}

.contact-section .field label {
  font-size: 14px;
  color: #777;
  margin-bottom: 12px;
}

.contact-section .field input,
.contact-section .field textarea {
  border: none;
  border-bottom: 1px solid #bcd4e6;
  padding: 8px 0;
  font-size: 15px;
  outline: none;
  background: transparent;
}

.contact-section .field textarea {
  height: 90px;
  resize: none;
}

/* BUTTON */
.contact-section .send-btn {
  margin-top: 30px;
  padding: 16px 42px;
  border-radius: 50px;
  border: 1px solid #ff4d00;
  background: transparent;
  color: #ff4d00;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-section .send-btn:hover {
  background: #ff4d00;
  color: #fff;
}

/*RIGHT INFO */

.contact-section .contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* SOCIAL LINKS */
.contact-section .social {
  padding: 0;
  margin: 0;
}

.contact-section .social li {
  list-style: none;
  margin-bottom: 22px;
}

.contact-section .social a {
  text-decoration: none;
  font-size: 16px;
  color: #777;
  transition: color 0.3s ease;
}

.contact-section .social a:hover {
  color: #ff4d00;
  font-size: 19px;
}

/* CONTACT DETAILS */
.contact-section .contact-details {
  margin-top: 60px;
}

.contact-section .info-link {
  display: inline-block;
  margin-bottom: 26px;
  font-size: 16px;
  color: #111;
  text-decoration: none;
  border-bottom: 1px solid #111;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.contact-section .info-link:hover {
  color: #ff4d00;
  border-color: #ff4d00;
  font-size: 17px;
}

/*RESPONSIVE */

@media (max-width: 992px) {
  .contact-section .contact-content {
    flex-direction: column;
  }

  .contact-section .contact-row {
    flex-direction: column;
    gap: 35px;
  }

  .contact-section .contact-header h2 {
    font-size: 36px;
  }
}
